@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: "Roboto","Arial",sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 56px;
    padding: 0px 16px;
}
.left_section {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.left_section i{
    border-radius: 50%;
    padding: 5px;
}
.left_section i:hover {
    background-color: rgba(0 0 0/0.05);
}

.left_section img {
    width: 46%;
    padding-left: 16px;
}
.mid_section {
    display: flex;
    align-items: center;
    margin-left: -9%;
}

.mid_section form {
    display: flex;
    height: 40px;
    width: 628px;
}
.mid_section input {
    border: 1px solid #d3d3d3;
    border-radius: 20px 0px 0px 20px;
    width: 90%;
    padding: 12px;
    font-size: 1.6rem;
    border-right: none;
}
.mid_section button {
    border: 1px solid #d3d3d3;
    width: 10%;
    border-radius: 0px 20px 20px 0px;
    cursor: pointer;
    padding-top: 4px;
    background-color: #f8f8f8;
}
.mid_section button:hover {
    background-color:#f0f0f0;
    border-color: #c6c6c6;
}
.mid_section .mic {
    background-color: #f9f9f9;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.mid_section .mic:hover {
    background-color: rgba(0 0 0/0.05);
}
.right_section a{
    text-decoration: none;
    color: black;
    padding-right: 18px;
}
.right_section i{
    padding: 5px;
    border-radius: 50%;
}
.right_section i:hover {
    background-color: rgba(0 0 0/0.05);
}
.content_area {
    height: calc(100vh - 56px);
    display: flex;
    background-color: #f9f9f9;
}
aside {
    height: 100%;
    overflow-y: auto;
    width: 280px;
    background-color: white;
}
nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 15px 0px;
    padding-right: 15px;
}
.nav-link {
    display: flex;
    align-items: center;
    padding: 10px 16px;
    text-decoration: none;
    color: black;
}
.nav-link:hover{
    background-color: rgba(0 0 0/0.05);
}

.active {
    background-color: #e5e5e5;
}
#active-span {
    font-weight: 500;
}
.nav-link span {
    margin-left: 24px;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2rem;
    color: #030303;
}
